.menu > li > a{
	color:#FFFFFF;
}
.logo{
	text-align:center;	
}
.top-bar, .top-bar ul {
    background-color:#333;
}
.content{
	width:1000px;
	min-height:900px;
	border:2px solid gray;
	margin:0 auto;
	padding:5px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#333 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
color:#333  !important;  
}
input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
color:#333  !important;  
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {  
color:#333  !important;  
}
.small-font{
	font-size:20px;
	padding:0 5px;	
}
.medium-font{
	font-size:35px;
	padding:0 5px;	
}
.large-font{
	font-size:50px;
	line-height:50px;
}
.table-button{
	margin:0px;	
}
.footer{
	width:900px;
	height:100px;
	text-align:center;
	border-top:1px solid gray;
	margin:0 auto;
	margin-top:20px;
	padding:5px;
}
